/* globals.css */
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

.leaflet-container {
  height: 100%;
  width: 100%;
}


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  background-color: #f7f9fb;
  color: #1f2937;
}

main {
  padding: 24px;
}
h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}
